{% extends 'frontend/base.html' %}

{% block content %}
<style>
  .container-logout {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      width: 45%;
  
      margin-top: 80px;
      margin-bottom: 80px;
      margin-left: 30%;
      margin-right: 50%;
  }
  .card-post {
      
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 8px;
      width: 45%;
      
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      margin-left: 30%;
      margin-right: 50%;
      
  }
  .upperblock{
    border: 1px solid #ccc;
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

   
  }
  .lowerblock{
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  h1{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    
  }
  h2{
    text-align: right;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #69CCF8;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
   
    
    
    .btn-primary{
      width: 400px;
      padding: 10px;
      background-color: #30E2CA;
      color: #fff;
      margin-left: 100px;
      border: 2px solid #ccc;
      border-radius: 25px;  
      outline: none;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
  }img{
      width: 20px;
      height: 20px;
      position: absolute;
      right: 36%;
      top: 53%;
      transform: translateY(-50%);
      cursor: pointer;
  }.card-img-top{
      width: 10%;
      height: 10%;
      position: absolute;
      right: 42%;
      top: 40%;
      transform: translateY(-50%);
      cursor: pointer;
  
  } 
  
</style>

<div class="container-logout d-flex flex-column">
  <span class="upperblock d-block p-2 bg-primary text-white"></span>
  <span class="lowerblock d-block">
    <h1 class="title text-center">Password Reset Done</h1>
    <p>Password reset link has been sent to your email address.</p>
    <p>Please check your inbox and click on the link to set your new password.</p>
    <p>If you did not receive the email, please check your spam folder.</p>
   
    
  </span>
  
</div>
 
  
{% endblock %}