{% extends 'backend/base_2.html' %}

{% block content %}

<div class="card-post-history">
  <h1 class="title">Change Your Password</h1>
  <form id="form" action="{% url 'submitPasswordChangeForm' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="old_password">Old Password</label>
      {{form.old_password}}
    </div>
    <div class="form-group">
      <label for="new_password1">New Password</label>
     {{ form.new_password1 }}
    </div>
    <div class="form-group">
      <label for="new_password2">Confirm New Password</label>
      {{ form.new_password2 }}
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>

  {{result}}
  
</div>

{% endblock %}



